<div class="container-fluid">
  <div *ngIf="!waterConsumption">
    <div class="alert-danger">No DATA</div>
  </div>

  <div *ngIf="waterConsumption">
    <form [formGroup]="waterConsumptionDetailsFormGroup" (ngSubmit)="onSubmit()">
      <div class="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-consumption">
            <button class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseConsumption"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseConsumption">
              Consumption
            </button>
          </h2>

          <div id="panelsStayOpen-collapseConsumption"
               class="accordion-collapse collapse show"
               aria-labelledby="panelsStayOpen-consumption">
            <div class="accordion-body">
              <div id="consumption" formGroupName="consumption" class="form-area">
                <div class="row">
                  <div class="col-md-3 col-form-label">
                    <label for="totalConsumption" class="form-label">Total Consumption</label>
                    <input type="text"
                           id="totalConsumption"
                           formControlName="totalConsumption"
                           class="form-control">
                  </div>

                  <div class="col-md-3 col-form-label">
                    <label for="downstairsConsumption" class="form-label">Downstairs Consumption</label>
                    <input type="text"
                           id="downstairsConsumption"
                           formControlName="downstairsConsumption"
                           class="form-control">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
              Difference
            </button>
          </h2>

          <div id="panelsStayOpen-collapseOne"
               class="accordion-collapse collapse show"
               aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">

              <div id="difference" formGroupName="difference" class="form-area">
                <div class="row g-3">
                  <div class="col-md-3 col-form-label">
                    <label for="upstairsDifference" class="form-label">Upstairs Difference</label>
                    <input type="text"
                           id="upstairsDifference"
                           formControlName="upstairsDifference"
                           class="form-control">
                  </div>

                  <div class="col-md-3 col-form-label">
                    <label for="downstairsDifference" class="form-label">Downstairs Difference</label>
                    <input type="text"
                           id="downstairsDifference"
                           formControlName="downstairsDifference"
                           class="form-control">
                  </div>

                  <div class="col-md-3 col-form-label">
                    <label for="courtyardHouseDifference" class="form-label">courtyard House Difference</label>
                    <input type="text"
                           id="courtyardHouseDifference"
                           formControlName="courtyardHouseDifference"
                           class="form-control">
                  </div>

                  <div class="col-md-3 col-form-label">
                    <label for="totalDifference" class="form-label">Total Difference</label>
                    <input type="text"
                           id="totalDifference"
                           formControlName="totalDifference"
                           class="form-control">
                  </div>
                </div>

              </div>
            </div>
          </div>


        </div>
      </div>
      <!--        Submit-->
      <div id="submit" formGroupName="submit" class="form-area">
        <div class="text-center">
          <button type="submit" class="btn btn-info">Save Params</button>
        </div>
      </div>

    </form>
  </div>
</div>

