<div class="main-div-margin">
  <table class="table table-primary table-striped table-hover">
    <thead>

    <tr>
      <th>Month</th>
      <th>Total Diff. Cons.</th>
      <th>Up. Diff. Cons.</th>
      <th>Down. Diff. Cons.</th>
      <th>Court. Diff Cons.</th>
      <th>Rest</th>
      <th class="td-danger">Individual Price</th>
      <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let waterEntry of waterConsumption" routerLink="/household/water-consumption-details/{{waterEntry}}">
      <td>
        {{getYearAndMonth(waterEntry)}}
      </td>
      <td title="Total Consumption was: {{waterEntry.totalConsumption}}">
        {{waterEntry.totalDifference }}
      </td>
      <td title="Upstairs Consumption was : {{waterEntry.upstairsConsumption}}">
        {{waterEntry.upstairsDifference}}
      </td>
      <td title="Downstairs Consumption was: {{waterEntry.downstairsConsumption}}">
        {{waterEntry.downstairsDifference}}
      </td>
      <td title="Courtyard House Consumption was: {{waterEntry.courtyardHouseConsumption}}">
        {{waterEntry.courtyardHouseDifference}}
      </td>
      <td>{{waterEntry.waterConsumptionRest}}</td>
      <td>
        <p *ngFor="let indPrice of waterEntry?.waterBilling?.waterIndividualPayments">
          <span *ngIf="indPrice.calculatedPrice">
            <ng-template [ngIf]="indPrice.error" [ngIfElse]="elseBlock">
              <span class="text-danger">{{indPrice.error}} for {{indPrice.name}}</span>
            </ng-template>
            <ng-template #elseBlock>
              <span>{{indPrice.name  }}</span>
              <span> : </span>
            <span>
              {{indPrice.calculatedPrice | currency: waterEntry.waterBilling.currency.sign + ' '}}
            </span>
            </ng-template>
          </span>
        </p>
      </td>
      <td title="Bill Price: {{ waterEntry?.waterBilling?.billPrice}}">
        {{waterEntry?.waterBilling?.calculatedCost |
        currency:waterEntry?.waterBilling?.currency?.sign + ' '}}
      </td>
    </tr>
    </tbody>
  </table>
</div>

