<div class="main-div-margin">
  <table class="table table-primary table-striped table-hover">
    <thead>

    <tr>
      <th>Month</th>
      <th>Courtyard House Cons.</th>
      <th>Total Diff. Cons.</th>
      <th>Upstairs Diff. Cons.</th>
      <th>Downstairs Diff. Cons.</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let waterEntry of waterConsumption ">
      <td>{{getYearAndMonth(waterEntry)}}</td>
      <td>{{waterEntry.courtyardHouseConsumption}}</td>
      <td title="Total Consumption was: {{waterEntry.totalConsumption}}">{{waterEntry.totalDifference }}</td>
      <td title="Upstairs Consumption was: {{waterEntry.upstairsConsumption}}">{{waterEntry.upstairsDifference}}</td>
      <td title="Downstairs Consumption was: {{waterEntry.downstairsConsumption}}">
        {{waterEntry.downstairsDifference}}
      </td>
    </tr>
    </tbody>
  </table>
</div>

