<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <a href="#" class="list-group-item list-group-item-action clearfix" *ngFor="let recipe of recipes">
      <div class="float-left">
        <h4 class="mb-1">{{ recipe.getRecipeName() }}</h4>
        <p class="text-muted">{{ recipe.getRecipeDescription() }}</p>
      </div>
      <span class="float-right">
        <img src="{{ recipe.getRecipeImagePath() }}" alt="{{ recipe.getRecipeName() }}" class="img-responsive" style="max-height: 50px;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>


