<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header card-title">Bill</div>
      <div class="card-body">
        <p class="card-text">{{waterBillCalculatedValue}}</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-title card-header">Pejak Consumption</div>
      <div class="card-body">
        <span class="card-subtitle text-muted">Consuption m3</span>
        <div class="card-text">5kn</div>
      </div>
    </div>
  </div>
</div>
