<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="spring-boot-ecommerce/Dockerfile" type="docker-deploy" factoryName="dockerfile" server-name="Docker">
    <deployment type="dockerfile">
      <settings>
        <option name="imageTag" value="ecommerce:1,ecommerce:1.2,ecommerce:1.2.0,ecommerce:latest" />
        <option name="containerName" value="ecommerce" />
        <option name="portBindings">
          <list>
            <DockerPortBindingImpl>
              <option name="containerPort" value="8080" />
              <option name="hostPort" value="18090" />
            </DockerPortBindingImpl>
          </list>
        </option>
        <option name="sourceFilePath" value="learning-tutorials/ecommerce-project/backend/spring-boot-ecommerce/Dockerfile" />
      </settings>
    </deployment>
    <method v="2" />
  </configuration>
</component>